<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teaching_assistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teaching_assistant">
        <activity android:name=".GiaoVien_Activity.GiaoVienQuanLyLop"></activity>
        <activity android:name=".GiaoVien_Activity.DiemDanh.Activity_diem_danh_thu_cong"></activity>
        <activity android:name=".GiaoVien_Activity.GiaoVienThemLop" />
        <activity android:name=".SignUp" />
        <activity android:name=".SinhVien_Activity.SinhVienThamGiaLop" />
        <activity android:name=".GiaoVien_Activity.GiaoVienXemDanhSachLop" />
        <activity android:name=".SinhVien_Activity.SinhVienQuanLyLop" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SinhVien_Activity.SinhVienXemDanhSachLop" />
    </application>

</manifest>